$p: 10px
$background: darkslategrey
$shadow_color: rgba(0,0,0,0.5)

body
  background: rgb(40,40,30)
  color: whitesmoke
  padding: $p
  margin: $p
  text-align: center
  font-family: avenir, arial

div
  margin: $p

input
  background: lightgreen
  border-radius: $p
  border: none
  padding: $p
  margin: $p
  font-size: medium
  font-family: avenir, arial
  width: $p*25
  text-align: center
  &::-webkit-input-placeholder
    font-style: italic
  &:-moz-placeholder
    font-style: italic
  &::-moz-placeholder
    font-style: italic
  &:-ms-input-placeholder
    font-style: italic

a
  color: lawngreen

#wait
  background: blue
  border-radius: $p

#links
  font-size: small
  color: cyan

#gofullpage
  color: cyan
  font-weight: bold

button
  border: none
  border-radius: $p
  padding: $p
  font-size: medium
  color: darkslategrey

#snippet
  white-space: pre-wrap // to preserve spaces and newlines
  text-align: left
  color: lawngreen
  padding: $p
  // background: darkslategrey // comment out to use .scroll-shadow
  border-radius: $p
  padding: $p*4
  visibility: hidden
  overflow: scroll
  white-space: pre
  
  p
    margin-top: 0
    margin-bottom: 0
    font-family: monospace

#codebox
  padding: $p

.copyBtn
  visibility: hidden

#language
  visibility: hidden

#feedback
  visibility: hidden
  
#words:focus, #language:focus
  background: #2196f3
  color: white

.scroll-shadow
  overflow-x: auto
  overflow-y: hidden
  background: linear-gradient($background, $background) 0% 0%, linear-gradient($background, $background) 100% 0%, radial-gradient(farthest-side at 0% 50%, $shadow_color, transparent) 0% 50%, radial-gradient(farthest-side at 100% 50%, $shadow_color, transparent) 100% 50%
  background-repeat: no-repeat
  background-color: $background
  background-size: 14px 100%
  background-attachment: local, local, scroll, scroll
