* {
  background: rgb(40,40,30);
}

body, html {
  height: 100%;
  display: grid;
  font-family: avenir, arial;
}

.main {
  margin: auto;
  text-align: center;
}

h1, h2 {
  color: white;
}

p {
  color: cyan;
}

a {
  color: lawngreen;
}
