* {
  background: maroon;
}

body, html {
  height: 100%;
  display: grid;
}

.main {
  margin: auto;
  text-align: center;
}

p, h1, h2 {
  font-family: arial;
  color: white;
}

a {
  color: lightblue;
}
